@media (min-width: 700px) {

    .app-header {
        padding-left: max(
            30px,
            calc((100vw - 760px) / 2)
        );

        padding-right: max(
            30px,
            calc((100vw - 760px) / 2)
        );
    }

    .app-main {
        padding-top: 45px;
    }

    .service-grid {
        grid-template-columns:
            repeat(4, minmax(0, 1fr));
    }

    .service-card {
        min-height: 190px;
    }

    .bottom-nav {
        width: min(760px, 100%);

        left: 50%;
        right: auto;

        transform: translateX(-50%);

        border:
            1px solid var(--border);

        border-bottom: 0;

        border-radius:
            24px 24px 0 0;
    }
}